*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 22px;
  line-height: 34px;
  font-weight: 400;
  font-style: normal;
  color: var(--base-black);
  background-color: var(--base-white);
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

main {
  display: block;
  flex: auto;
}

footer {
  flex-shrink: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: contain;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}
