:root {
  // fonts
  --font-family: "Montserrat";

  // colors
  --base-white: #ffffff;
  --base-black: #000000;
  --base-black-lighter: #1f1f1f;
  --base-primary: #0ad9c6;
  --bg-lightest-grey: #f6f6f6;
}
