:root {
  // fonts
  --font-family: "Montserrat";

  // colors
  --base-white: #ffffff;
  --base-black: #333333;
  --base-grey: #bdbdbd;
  --base-primary: #7859cf;
  --base-secondary: #f0ebff;
  --base-primary-lighter: #9070ec;
  --base-primary-darker: #593cac;
  --base-light-grey: #e2e2e2;
  --bg-lightest-grey: #f8f8f8;
  --bg-flat-white: #f3ebe1;
  --bg-lavender-latte: #e5e6e8;
  --bg-espresso: #eae6fc;
}
